@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.cabeza{
    margin: auto;
    width: 100%;
    height: 109px;
    background-image: url(./james-harrison-vpOeXr5wmR4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.principal{
    margin: auto;
    width: 360px;
    height: 109px;
    /* left: calc(50% - 360px/2);
    top: calc(50% - 109px/2 - 796.5px); */
    background-color: rgba(56, 149, 234, 0.5);
    position: relative;
}
.cabeza>div{
    background-color: rgba(56, 149, 234, 0.5);
    margin: auto;
    width: 360px;
    height: 109px;
}
.titulo{
    position: absolute;
    left: 29%;
    top: 20%;
    font-size: 15px;
    border: 1px solid white;
    color: white;
    padding: 7px;
    text-align: center;
    border-radius: 10px;
}
ul{
    list-style: none;
    position: absolute;
    top:3px;
    font-size: 18px;
    line-height: 30px;
    color: white;
    left: 11px;
}
.avatar{
    height: 50px;
    width: 50px;
    background-image: url(./sergio-de-paula-c_GmwfHBDzk-unsplash.jpg);
    border-radius: 50%;
}